version: '3.8'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: starwars-api
    restart: always
    ports:
      - '3000:3000'
    environment:
      - MONGODB_URI=${MONGODB_URI}
      - PORT=${PORT}
      - NODE_ENV=${NODE_ENV}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRES_IN=${JWT_EXPIRES_IN}
      - EXTERNAL_API_URL=${EXTERNAL_API_URL}
      - WEB_URL=${WEB_URL}
